:root {
  --DMContrast: #A0EFFF;/*#23B5D3 #A0EFFF #00819B;*/
  --DMinputText: #001D42;
  --DMBackground: #001D42;
  --DMtableDisplay: #23B5D3;
  --DMtableText: #000000;
  --HoverColor: #1c92a9;
} /* var(--DMContrast) var(--DMBackground)*/

/* ==================== GENERAL ==================== */
.App {
  width: 100vw;
  /*height: auto;*/
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F5FEFF; /*BG Colour */

  font-family: 'Trebuchet MS', sans-serif;
}
.DMApp {
  width: 100vw;
  /*height: auto;*/
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--DMBackground); /*BG Colour */

  /*font-family: 'Tahoma';*/
}
body { 
  margin: 0px;
  padding:0;
  /*background: #000000; /* BG Colour */
}
.dmbody{
  margin: 0px;
  padding:0;

  width: inherit;
  height: inherit;
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  background-color: var(--DMBackground);
  background: var(--DMBackground);
  color: var(--DMContrast);
}
.lmbody{
  margin: 0px;
  padding:0;

  width: inherit;
  height: inherit;
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  background-color: #F5FEFF;
  background:  #F5FEFF;
  color: #000000;
}
.Centered {
  display: flex;
  align-items: table;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pageTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 10px;
  /*background-color: #F5FEFF;*/
}
.subTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 0px;
  background-color: transparent;
}
.SearchBar{
  width: auto + 30;
  align-items: center;
  background-color: var(--DMBackground);
  background: transparent;
  color: #F5FEFF;
  margin-bottom: 0;
} 
.DMSearchBar{
  width: auto + 30;
  align-items: center;
  background-color: #8CC04E; /* #F5FEFF <-blue-white #23B5D3 <-teal #8CC04E <-green */
  background: transparent;
  color: #000000;
  margin-bottom: 0;
} 


.input{
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #000000;
  border: 10px solid var(--input-border);
  border-radius: 0px;
  color: #F5FEFF;
  margin-bottom: 0;
}
.DMinput{
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--DMContrast); /* #F5FEFF <-blue-white #23B5D3 <-teal #8CC04E <-green */
  border: 10px solid var(--input-border);
  border-radius: 0px;
  color: #000000;
  margin-bottom: 0;
}


.center{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.bottom-layer{
  width: 100%;
  height: 100%;
  margin-bottom: 442px;
}

/*==========Images==========*/

.floatImg {
  background: transparent;
  border: transparent;
  float: right;
  margin: 0 0 0 0;
  padding: 0px;

  position:absolute;
  bottom:-10px;
  left:0px;
  width:250px;
  height:250px;
}
.floatBall {
  background: transparent;
  border: transparent;
  float: right;
  margin: 0 0 0 0;
  padding: 0px;

  position:absolute;
  top:150px;
  right: -20px;
  width:200px;
  height:200px;
}


/* ===== List Things ===== */
ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  margin-top: 0px;
}
li {
  align-items: flex-start;
  display: inline-block;
  margin-bottom: -10px;
}


/* ====================== DROPDOWN THINGS ========================= */
.dropdown{
  font-size: inherit;
  font-family: inherit;
  border: 10px solid var(--input-border);
  border-radius: 0px;
  background-color: #000000;
  background: #000000;
  color: #F5FEFF;
  padding: 0.25em 0.5em;
  margin-bottom: 0;
  border-radius: 0;
}
.DMdropdown{
  font-size: inherit;
  font-family: inherit;
  border: 10px solid var(--input-border);
  border-radius: 0px;
  background-color: var(--DMContrast);
  background: var(--DMContrast);
  color: #000000;
  padding: 0.25em 0.5em;
  margin-bottom: 0;
  border-radius: 0;
}


/* ==================== NAV BAR ==================== */
.NavBar {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  background: #23B5D3; /*Header Colour*/
}
.NavText {
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  flex-direction: column;
  background: transparent; /*Header Colour*/
  color: #000000;
  font-weight: "bold";
}


/* ==================== HOMEPAGE ==================== */
.HomepageBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5FEFF;
}


/* ==================== SEARCH ALL PLAYERS ==================== */
.Players {
  background-color: #23B5D3;

  margin-top: 0;
  margin-bottom: 0;
  color: #000000; 

  display: grid;
}
.NameList{
  margin-right: 15px;
  margin-left: 15px;
  
  background-color: #23B5D3;

  margin-top: 0;
  margin-bottom: 0;
  color: #000000; 

  display: flex;

  font-size: 10;
}
.nameList{
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
}
.ListWrap{
  font-size: 10;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  align-items: start;
  flex-direction: column;
  background: #23B5D3; /*Header Colour*/
}

/* ================Login ================== */
.CenteredWithMargins {
  display: flex;
  align-items: table;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 72px;
}
.LoginButton{
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #000000;
  border: 10px solid var(--input-border);
  border-radius: 0px;
  color: #F5FEFF;
  margin-bottom: 0px;
  margin-top: 5px;
}
.dmLoginButton{
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--DMContrast);
  border: 10px solid var(--input-border);
  border-radius: 0px;
  color: #000000;
  margin-bottom: 0px;
  margin-top: 5px;
}
.RegisterFontSize{
  font-size: 8;
  margin-top: 5px;
}


/*================Form Sub===============*/
.FormSub{
  font-size: 8;
  margin-top: 5px;
  display: inline-block;
  width: auto;
}
.InputBox{
  width:100px;
}
.RegCenteredWithMargins {
  display: flex;
  align-items: table;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 92px;
}


/*================ Individual Player Stats ===============*/

.TableStyle{
  margin-top: 0;
  margin-bottom: 0;
  background-color: #000000;
  color: #F5FEFF; 
}
.DMTableStyle{
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--DMContrast);
  color: #000000; 
}
.TableResults{
  margin-top: 0;
  margin-bottom: 0;
  background-color: #23B5D3;
  color: #000000; 
}
.StatTypeButton{
  font-size: inherit;
  font-family: inherit;
  background-color: #000000;
  border-radius: 0px;
  color: #F5FEFF;
  margin-bottom: 0;

  margin-left: 50px;
}

/*
.BioStats{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: -20px;
  margin-right: 0px;
}
.BioStatsR{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: -150px;
  margin-right: 0px;
}
  */
.horizontal-list-item{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.TopGrid{
  display: inline-block;
  flex-direction: row;
  margin: 5px;
  align-items: grid;
}

.player-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}
  
.player-details {
    flex: 1;
}
  
.player-headshot {
    margin-left: 20px;
    margin-top: 20px;
}

.player-headshot img {
    border: 3px solid #23B5D3;
    border-radius: 5px;           
}
  
.BioStats {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}
  
.BioStats li {
    margin-bottom: 5px;
}
  
.Positions {
    margin-top: 10px;
}

/*===============Franchises================*/

.franchiseInput{
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #000000;
  border: 10px solid var(--input-border);
  border-radius: 0px;
  color: #F5FEFF;
  margin-bottom: 0;
  margin-right: 0px;
  width: 230px;
  align-self: center;
}
.franHeader{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #000000;
  color: #F5FEFF; 
  width: 320px;
}
.DMfranHeader{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--DMContrast);
  color: #000000; 
  width: 320px;
}
.franList{
  width: 320px;
}

.bottom-chunk{
  margin-bottom: 513px;
}

/*=================Favourites==================*/
.favHeader{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #000000;
  color: #F5FEFF; 
  width: 250px;
}
.dmfavHeader{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--DMContrast);
  color: #000000; 
  width: 250px;
}
.favList{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #23B5D3;
  color: #000000; 
  width: 250px;
}

.boxMargins{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5;
  margin-right: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pagMargins{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ===== SimpleTable =====*/

.SimpleTableHeader{
  background-color: #000000;
  color: #F5FEFF;
}
.DMSimpleTableHeader{
  background-color: var(--DMContrast);
  color: #000000;
}
.blackBG{
  background-color: #000000;
  width: auto;
}
.whiteBG{
  background-color: var(--DMContrast);
  width: auto;
}
.SimpleTableListItem{
  background-color: #23B5D3;
  color: #000000; 
}

/* footers */

.standings-footer{
  margin-bottom: 350px;
}
.fav-footer{
  margin-bottom: 335px;
}
.login-footer{
  margin-bottom: 367px;
}
.reg-footer{
  margin-bottom: 356px;
}

/* fav button */

.favbutton{
  font-size: inherit;
  font-family: inherit;
  padding: 0.2em 0.5em;
  border: 2px solid var(--input-border);
  border-radius: 7px;
  margin-bottom: 10px;

  color: #000000; /* #8CC04E; */
  background-color: #8CC04E;/* #23B5D3;*/
}
.dmfavbutton{
  font-size: inherit;
  font-family: inherit;
  padding: 0.2em 0.5em;
  border: 2px solid var(--input-border);
  border-radius: 7px;
  margin-bottom: 10px;

  color: #000000; /* #8CC04E; */
  background-color: #8CC04E;/* #23B5D3;*/
}

/* Page Intructions */
.pgInstr{
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: -25px;
}
.row{
  display: flex;
  align-items: center;
  flex-direction: row; 
}
.inner-row-item{
  margin-right: 10px;
}

.graphText{
  color:#A0EFFF;
}

.graphButton{
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #000000;
  border: 10px solid var(--input-border);
  border-radius: 0px;
  color: #F5FEFF;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: -10px;
}
.DMgraphButton{
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--DMContrast); /* #F5FEFF <-blue-white #23B5D3 <-teal #8CC04E <-green */
  border: 10px solid var(--input-border);
  border-radius: 0px;
  color: #000000;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: -10px;
}

.dmtogglebutton{
  font-size: inherit;
  font-family: inherit;
  padding: 0.2em 0.5em;
  background-color: #000000;
  border: 2px solid var(--input-border);
  border-radius: 7px;
  color: #F5FEFF;
  margin-bottom: 0;
}

.navLinks{
  text-align: center;
  width: auto;
  transition: all 0.1s;
  margin: 5px;

  font-size: inherit;
  font-family: inherit;
  padding: 0.2em 0.5em;
  background-color: var(--DMtableDisplay);
  border: 2px solid var(--input-border);
  border-radius: 7px;
  color: #000000;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: "bold";
}
.navLinks:hover{
  background-color: var(--HoverColor);
  color: #000000;
}
/* .navLinks span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
  background-color: var(--DMtableDisplay);
}
.navLinks span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
  background-color: var(--DMtableDisplay);
}
.navLinks:hover span {
  padding-right: 25px;
  background-color: var(--DMtableDisplay);
}
.navLinks:hover span:after {
  opacity: 1;
  right: 0;
  background-color: var(--DMtableDisplay);
} */