/Sample CSV Files/AllstarFull.csv
/Sample CSV Files/Appearances.csv
/Sample CSV Files/AwardsPlayers.csv
/Sample CSV Files/Batting.csv
/Sample CSV Files/Fielding.csv
/Sample CSV Files/FieldingOFsplit.csv
/Sample CSV Files/HallOfFame.csv
/Sample CSV Files/HomeGames.csv
/Sample CSV Files/Parks.csv
/Sample CSV Files/People.csv
/Sample CSV Files/Pitching.csv
/Sample CSV Files/Teams.csv
/Sample CSV Files/TeamsFranchises.csv
/Production CSV Files/AllstarFull.csv
/Production CSV Files/Appearances.csv
/Production CSV Files/AwardsPlayers.csv
/Production CSV Files/Batting.csv
/Production CSV Files/Fielding.csv
/Production CSV Files/FieldingOFsplit.csv
/Production CSV Files/HallOfFame.csv
/Production CSV Files/HomeGames.csv
/Production CSV Files/Parks.csv
/Production CSV Files/People.csv
/Production CSV Files/Pitching.csv
/Production CSV Files/Teams.csv
/Production CSV Files/TeamsFranchises.csv