/Sample_CSV_Files/AllstarFull.csv
/Sample_CSV_Files/Appearances.csv
/Sample_CSV_Files/AwardsPlayers.csv
/Sample_CSV_Files/Batting.csv
/Sample_CSV_Files/Fielding.csv
/Sample_CSV_Files/FieldingOFsplit.csv
/Sample_CSV_Files/HallOfFame.csv
/Sample_CSV_Files/HomeGames.csv
/Sample_CSV_Files/Parks.csv
/Sample_CSV_Files/People.csv
/Sample_CSV_Files/Pitching.csv
/Sample_CSV_Files/Teams.csv
/Sample_CSV_Files/TeamsFranchises.csv
/Production_CSV_Files/AllstarFull.csv
/Production_CSV_Files/Appearances.csv
/Production_CSV_Files/AwardsPlayers.csv
/Production_CSV_Files/Batting.csv
/Production_CSV_Files/Fielding.csv
/Production_CSV_Files/FieldingOFsplit.csv
/Production_CSV_Files/HallOfFame.csv
/Production_CSV_Files/HomeGames.csv
/Production_CSV_Files/Parks.csv
/Production_CSV_Files/People.csv
/Production_CSV_Files/Pitching.csv
/Production_CSV_Files/Teams.csv
/Production_CSV_Files/TeamsFranchises.csv